[user]
    email = {{ item.email }}
    name = {{ item.name }}
{% if item.ignore_github is defined or item.ignore_custom is defined %}
[core]
    excludesfile = /home/{{ item.user }}/.gitignore
{% endif %}
[push]
    default = {{ item.push_default|default('simple') }}
{% if item.fetch_prune|default(true) %}
[fetch]
    prune = true
{% endif %}
